# Library / Dependencies
node_modules/

# Environment Variables (Sangat Penting!)
.env

# File Uploadan (Agar file PDF asli tidak ikut ter-upload ke Git)
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db