@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-blue: #0A337E;
  --color-secondaryBlue: #E8F0FF;
  --color-babyBlue: #F5F7FA;
  --color-red: #B32715;
  --color-secondaryRed: #FFDBD7;
}

@layer utilities{
    .text-blue { color: var(--color-blue); }
    .text-red { color: var(--color-red); }
    .bg-blue { background-color: var(--color-blue); }
    .bg-secondBlue { background-color: var(--color-secondaryBlue); }
    .bg-babyBlue { background-color: var(--color-babyBlue); }
    .bg-red { background-color: var(--color-red); }
    .bg-secondRed { background-color: var(--color-secondaryRed); }
}